@{
    ViewData["Title"] = ViewLocalizer["page.title"];
}
<div class="container">
    <h2 class="mb-3">@ViewLocalizer["page.header"]</h2>
    <div class="row">
        <div class="col text-center">
            <p>@ViewLocalizer["page.nothing.text"]</p>
            <div class="row mt-4 justify-content-center">
                <div class="col-2">
                    <a class="btn btn-outline-dark btn-sm text-nowrap active" href="/" role="button">@ViewLocalizer["button.continue"]</a>
                </div>
            </div>
        </div>
    </div>
</div>